.groups {
    display: flex;
    flex-wrap: wrap;
}
.stats-data 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
    align-items: center;
}

.stats_header {
    color: aqua;
    padding-top: 30px;
}