h1 {
    font-size: 2rem; 
    margin-bottom: 20px; 
    color: #fff; 
    text-align: center;
}

p {
    font-size: 1.1rem; 
    margin: 20px 0; 
    color: #fff; 
    border-bottom: 1px solid purple;
    width: 80%;
    margin: 20px auto;
    padding-left: 5px;
}

strong {
    color: rgb(51, 27, 51); 
    display: block;
}

