.card {
    background: linear-gradient(to bottom right, purple, rgb(81, 117, 117));
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 35px;
    width: 150px ;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    font-size: large;
    color: white;
    font-weight: bold;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #333;
}

.card-content {
    font-size: 1em;
    color: #666;
}

.card-footer {
    margin-top: 16px;
    text-align: right;
}