#root {
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
  background-color: #f0f0f0;
  min-width: 100vw; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #3f5177;
  padding: 20px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #21a1f1;
}

.container {
  display: flex; /* Use flexbox for layout */
}

.main {
  margin-left: 210px; 
  padding: 20px; 
  flex-grow: 1; 
  background-color: #6a5acd;
  border-radius: 4px; 
  color: #333; 
  width: calc(100% - 210px);
  height: 100vh; 
  overflow: auto;
}
